.footer { 
    background-color: #2E2F42;
}

.footer .logo-studio {
  color: #F4F4FD;
  line-height: 1.33;
  font-size: 24px;
}

.footer-text {
    color: #f4f4fd;
    text-align: left;
    letter-spacing: 0.02em;
    line-height: 1.5;
}