.team-item {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 36px;
}

.team {
    background-color: #f4f4fd;
}

p,
h3 {
    text-align: center;
    color: #434455;
}

.team-title {
    text-align: center;
    font-size: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}